* {
    box-sizing: border-box;
}

:root {
    --primary-border-color: black;
    --primary-btn-border-color-alpha: rgba(80,80,80, 0.4); 
    --primary-hover-color: rgb(100, 100, 100);
    --primary-font-color: white;
    --primary-operator-color: rgb(255, 153, 0);
    --primary-number-color: rgb(130, 130, 130);
}

body{
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.calculator-wrapper {
    width:  240px;
    height: 311.5px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-border-color);
    border-radius: 5px 5px 7px 7px;
    box-shadow: 5px 10px 25px 0px var(--primary-hover-color);
    color: var(--primary-font-color);
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;    
}

.calculator-wrapper .row {
    height: 50px;
    width: 100%;
    display: flex;
}
.calculator-wrapper .row.number-input{
    height: 60px;
}
.calculator-wrapper .row.number-input input{
    width: 100%;
    background-color: rgb(80, 80, 80);
    color: var(--primary-font-color);
    font-size: 250%;
    padding: 0px 12px;
    border: none;
    text-align: right;
    border-radius: 4px 4px 0px 0px;
}
.calculator-wrapper .row .customized-btn{
    flex: 1 0 40px;
    height: 50px;
    border: 1px solid var(--primary-btn-border-color-alpha);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-wrapper .row .customized-btn:hover{
    cursor: pointer;
}
.flex-grow-2 {
    flex: 4 0 40px !important;
}
.operator-color {
    background-color: var(--primary-operator-color);
}
.number-color {
    background-color: var(--primary-number-color);
}
.grey-color-100 {
    background-color: rgb(100, 100, 100);
}
.border-radius-bottom-left {
    border-radius: 0px 0px 0px 5px;
}
.border-radius-bottom-right {
    border-radius: 0px 0px 5px 0px;
}